/*

  RESETS

*/

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
hr {
  border: 0;
  height: 2px;
  background: #1e90ff;
  background-image: linear-gradient(to right, #FFF59D, #ffc815, #FFF59D);
}


.bg-city {
  background-image: url("dtventura.jpg");
}
.bg-statue {
  background-image: url("venturastatue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-blue {
  background-color: #a8c6e2;
}
.bg-silver {
  background-color: #282826;
  color: gold;
}
.bg-white-opaque {
  background-color: rgba(255, 255, 255, 0.8);
}
.main-header {
  background-image: url("venturapier.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-header-text {
  color: gold;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 30vh;
  max-width: 1000px;
  text-align: left;
}
.text-pad {
  padding: 50px 0 50px 0;
}
.navbar-default {
  margin-bottom: 0;
}

.form-control{
  border: none;
  border-bottom: 2px solid #FFF59D!important;
}
.form-field{
  border: 2px solid #FFF59D;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.8);
}
.btn-primary {
  background-color: #FFEE58;
  border: none;
  color: black;
}

.btn-primary:hover {
  background-color: #ffc815;
  color: black;
}




/*

  MEDIA QUERIES

*/

@media only screen and (max-width : 767px) {

  .main-header-text {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px
  }

}
